html{
  height: 100%;
}

body{
  background-image: url("../images/bannerBg1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

fl {
  float: left;
}

fr {
  float: right;
}

textarea.ivu-input {
  font-size: 12px !important;
  vertical-align: inherit
}
